@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700&display=swap');
@import "tailwindcss";

* {
  font-family: 'Noto Sans TC', sans-serif;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}
